<template>
  <div :class="_mainClass" :style="_mainStyle">
    <slot name="content"></slot>
  </div>
</template>

<script>
export default {
  name: "FloatContainer",
  props: {
    paddingLeft: {
      default: "0px",
      type: String,
    },
    paddingRight: {
      default: "0px",
      type: String,
    },
    paddingTop: {
      default: "0px",
      type: String,
    },
    paddingBottom: {
      default: "0px",
      type: String,
    },
    zIndex: {
      default: 2,
      type: Number,
    },
    position: {
      default: "central",
      validator: function (value) {
        return (
          [
            "central",
            "left-top",
            "left-middle",
            "left-bottom",
            "right-top",
            "right-middle",
            "right-bottom",
          ].indexOf(value) !== -1
        );
      },
    },
  },
  computed: {
    _mainClass() {
      const classe = {};
      classe[`float-${this.position}`] = true;
      return classe;
    },
    _mainStyle() {
      return {
        "z-index": this.zIndex,
        "padding-left": this.paddingLeft,
        "padding-right": this.paddingRight,
        "padding-top": this.paddingTop,
        "padding-bottom": this.paddingBottom,
      };
    },
  },
};
</script>

<style scoped>
[class*="float"] {
  position: fixed;
}

.float-central {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

[class*="float-right"] {
  right: 0px;
}
[class*="float-left"] {
  left: 0px;
}

[class*="float-"][class*="top"] {
  top: 0px;
}
[class*="float-"][class*="middle"] {
  top: 50%;
  transform: translateY(50%);
}
[class*="float-"][class*="bottom"] {
  bottom: 0px;
}
</style>