<template>
  <a :href="_mountUrl" target="_blank">
    <component
      :is="_mountIconPack"
      :icon="getIconName"
      iconType="brands"
      color="custom"
      iconSize="sm"
      :corner="corner"
      :containerSize="containerSize"
      iconColor="white"
      backgroundColor="#25d366"
    />
  </a>
</template>

<script>
export default {
  name: "WppFloatBtn",
  props: {
    color: String,
    text: String,
    rawUrl: String,
    corner: String,
    iconSize: {
      type: String,
      default: "xs",
    },
    containerSize: {
      type: String,
      default: "xs",
    },
    phone: {
      type: String,
      required: true,
    },
    iconPack: {
      default: "IcoFont",
      validator: function (value) {
        return ["IcoFont", "FontAwesome"].indexOf(value) !== -1;
      },
    },
  },
  computed: {
    _mountUrl() {
      if (this.rawUrl) return this.rawUrl;
      let url = `https://api.whatsapp.com/send?phone=${this.phone}`;
      if (this.text) url += `&text=${encodeURIComponent(this.text)}`;
      return url;
    },
    _mountIconPack() {
      if (this.iconPack == "IcoFont") {
        return () => import("pc-vue-icons/dist/IconIcoFont.js");
      } else if (this.iconPack == "FontAwesome") {
        return () => import("pc-vue-icons/dist/IconFontAwesome.js");
      }

      return "";
    },
    getIconName() {
      if (this.iconPack == "IcoFont") {
        return "icofont-whatsapp";
      } else if (this.iconPack == "FontAwesome") {
        return "fa-whatsapp";
      }

      return "";
    },
  },
};
</script>

<style scoped>
>>> i.ico-custom:hover {
  background-color: #4a4b4a !important;
}
</style>
